---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro App</title>
  </head>
  <body class="min-h-screen bg-gray-50 text-gray-900 flex flex-col">
  <Header />
  
  <main class="flex-1 p-4 md:p-8 max-w-5xl mx-auto w-full">
    <slot />
  </main>

  <Footer />
</body>

</html>
